################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/CHDlib/bin
/CHDlib/obj
/Compress/bin
/Compress/obj
/DATReader/bin
/DATReader/obj
/DatVault/bin
/DatVault/obj
/Dir2Dat/bin
/Dir2Dat/obj
/FileHeaderReader/bin
/FileHeaderReader/obj
/packages
/RomVault/bin
/RomVault/obj
/RomVaultX/bin
/RomVaultX/obj
/RomVaultXCore/bin
/RomVaultXCore/obj
/RomVaultCmd/bin
/RomVaultCmd/obj
/RomVaultCore/bin
/RomVaultCore/obj
/RVIO/bin
/RVIO/obj
/RVServiceAccess/bin
/RVServiceAccess/obj
/Trrntzip/bin
/Trrntzip/obj
/TrrntZipCMD/bin
/TrrntZipCMD/obj
/TrrntZipUI/bin
/TrrntZipUI/obj
/unzip/bin
/unzip/obj
/.vs/RVWorld/v16/Server/sqlite3
/.vs/RVWorld/v16/.suo
/.vs
*.user
/.idea/
/ByteSortedList/bin
/ByteSortedList/obj
/CodePage/bin
/CodePage/obj
/Dark/bin/Debug
/Dark/obj
/FileScanner/bin
/FileScanner/obj
/RVZstdSharp/bin
/RVZstdSharp/obj
/SharedEnum/bin
/SharedEnum/obj
/SortMethods/bin
/SortMethods/obj
/TrrntZipUICore/bin/Debug
/TrrntZipUICore/obj
