################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/CHDlib/bin
/CHDlib/obj
/Compress/bin
/Compress/obj
/DATReader/bin
/DATReader/obj
/DatVault/bin
/DatVault/obj
/Dir2Dat/bin
/Dir2Dat/obj
/FileHeaderReader/bin
/FileHeaderReader/obj
/packages
/RomVault/bin
/RomVault/obj
/RomVaultNet/bin
/RomVaultNet/obj
/RomVaultX/bin
/RomVaultX/obj
/RomVaultXNet/bin
/RomVaultXNet/obj
/RomVaultXCore/bin
/RomVaultXCore/obj
/RomVaultCmd/bin
/RomVaultCmd/obj
/RomVaultCore/bin
/RomVaultCore/obj
/RVIO/bin
/RVIO/obj
/RVXServer/bin
/RVXServer/obj
/Trrntzip/bin
/Trrntzip/obj
/TrrntZipCMD/bin
/TrrntZipCMD/obj
/TrrntZipUI/bin
/TrrntZipUI/obj
/unzip/bin
/unzip/obj
/.vs/RVWorld/v16/Server/sqlite3
/.vs/RVWorld/v16/.suo
/.vs
*.user
/.idea/