<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRVService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.romvault.com/RVService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRVService" contract="RVServices.IRVService" name="BasicHttpBinding_IRVService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
