<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBFileName" value="rom"/>
    <add key="DBMemCacheSize" value="8000000"/>
    <add key="DBCheckOnStartup" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
