<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DokanNet" version="1.4.0" targetFramework="net472" />
  <package id="StringInterpolationBridgeStrong" version="0.9.1" targetFramework="net451" requireReinstallation="true" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.6" targetFramework="net472" />
</packages>